*.tar
*.tar.*
*.jar
*.exe
*.msi
*.deb
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

# bootc-image-builder output
output/
*_build*/

# Local build artefacts
previous.manifest.json
changelog.md
output.env
